@import "../../var/var.less";

.type-4777 {
    .container{
        @margin-top:-15%;
        @padding: 10%;
        margin-top:@margin-top;
        padding: @padding;
        h4{
            @color: #ffa500;
            @font-weight: bold;
            @font-size: 30px;
            color: @color;
            font-weight: @font-weight;
            font-size: @font-size;
        }
        .subheading{
            @color: #3931af;
            @font-size: 20px;
            color: @color;
            font-size: @font-size;
        }
        .row{
            @margin-top: 10%;
            margin-top: @margin-top;
            .col-md-6 {
                a{
                    img:hover{
                        @filter: grayscale(100%);
                        @-webkit-filter: grayscale(100%);
                        @-moz-filter: grayscale(100%);
                        @-ms-filter: grayscale(100%);
                        @-o-filter: grayscale(100%);
                        filter: @filter;
                        -webkit-filter: @-webkit-filter;
                        -moz-filter: @-moz-filter;
                        -ms-filter: @-ms-filter;
                        -o-filter: @-o-filter;
                    }
                    @text-decoration: none;
                    text-decoration: @text-decoration;
                    h4:hover{
                       @color: #bd7b03; 
                       color: @color; 
                    }
                    .subheading{
                        @text-decoration: none;
                        text-decoration: @text-decoration;
                    }
                    .subheading:hover{
                        @color: #140e71;
                        color: @color;
                    }
                }
            }
        }
    }
    
    
}
.how-img 
{
    @text-align: center;
    text-align: @text-align;
}
.how-img img{
    @width: 40%;
    width: @width;
}